.logo {
  margin: 34px auto 0;
  max-width: 254.84px;
  height: 68.94px;
}
.logo__title {
  text-align: center;
  margin: 0;
  height: 100px;
  width: 254.84px;
  height: 14.94px;
  top: 54px;
  gap: 0px;
  opacity: 0px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .logo {
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 188px;
    height: 52px;

    margin: 20px auto 0;
  }
}
