.logo {
  margin: 34px auto 0;
  max-width: 254.84px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo__image {
  width: 32px;
  height: 32px;
}

.logo__title {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .logo {
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 188px;
    height: 52px;

    margin: 20px auto 0;
  }
}
